input
{
  width: 50%;
  font-size: 12px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #999;
  outline: 0 none;
}
.box{
  padding: 20px;
  margin: 100px auto;
  background-color: rgb(185, 215, 241);
  border-radius: 10px;
}
h2{
  text-align: center;
  font-size: 15px;
  font-style: italic;
}
form
{
  width: 50vw;
  margin: 1rem auto;
  
  label
  {
    font-size: 1rem;
    vertical-align: middle;
  }
  
  input
  {
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem;
    vertical-align: middle;
    box-shadow: 0 0 0 transparent;
    border: 1px solid #999;
    outline: 0 none;
    transition: box-shadow 0.5s;
    
    &.error
    {
      animation: shake 0.2s ease-in-out 0s 2;
      box-shadow: 0 0 0.5em red;
    }
  }
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}